.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
}

.main {
  display: flex;
  gap: 32px;
  border: 1px solid black;
  max-height: 400px;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    max-height: none;
  }
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: max-content;
  max-height: 400px;
}

.image {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.details {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.button1,
.button2 {
  border: 1px solid black;
  border-radius: 2px;
}
